{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profil
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}
{% block body %}
	<div class="py-10 px-4 flex justify-center items-center mx-auto">

		<div class="flex justify-center mx-auto mt-20 rounded ml-4 overflow-hidden shadow-md bg-white ">
			<div class=" flex justify-center mt-4">
				<div class="h-14 w-14">
					<img src="https://cdn.tuk.dev/assets/photo-1564061170517-d3907caa96ea.jfif" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md"/>
				</div>
			</div>
			<div class="px-6 mt-5">
				<h1 class="font-bold text-primary-dark text-3xl text-center mb-1">Hello
					{{ app.user.firstName }}</h1>
				<p class="text-center text-primary-light text-base pt-3 font-normal">{{ app.user.lastName }}</p>
				<p class="text-center text-primary-light text-base pt-3 font-normal relative bottom-0">
					{{ app.user.email }}
				</p>
			</div>
		</div>
	</div>
	<div class="p-8 bg-gray-100 flex flex-col mx-auto w-8/12 rounded-lg">
		<div class="flex flex-row justify-center items-center mt-6">
			<div class="mt-20">
				<div id="calendar-holder"></div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {
defaultView: 'timeGridWeek',
editable: false,
eventResizableFromStart: false,

eventSources: [
{
url: "/fc-load-events",
method: "POST",

extraParams: {
filters: JSON.stringify({})
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
header: {
left: 'prev,next today',
center: 'title',
right: 'timeGridWeek,timeGridDay'
},
plugins: [
'interaction', 'dayGrid', 'timeGrid'
], // https://fullcalendar.io/docs/plugin-index
timeZone: 'UTC'
});
calendar.render();
});
	</script>
{% endblock %}
