{% block body %}

	{{ form_start(form) }}

	<div class="relative flex flex-col p-2 bg-white z-10 justify-center items-center mx-auto w-8/12 rounded-3xl filter drop-shadow-2xl">
		<div class="mt-20">
			<div class="ml-2 mr-2 mt-3 sm:mx-6 sm:mt-8">
				<h1 class="text-xl text-gray-600 sm:text-md font-bold">
					Manage your favorite activities  with us!
				</h1>
			</div>
			<div class="mx-2 mt-4 sm:mx-6 sm:mt-8">
				<div class="relative my-8 p-5">
					{{ form_label(form.name, "Your Activity name : ", {
            label_attr: {
                class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none"
            }
        }) }}
					{{ form_widget(form.name, {
                attr: {
                    class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none",
                    placeholder: "Alain",
                    }
                }) }}
				</div>
				<div class="relative my-8 p-5">
					{{ form_label(form.description, "Description : ", {
            label_attr: {
                class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none mt-4"
            }
        }) }}
					{{ form_widget(form.description, {
                attr: {
                    class: "w-full h-10 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none",
                    placeholder: "Here i ...",
                    style: 'height: 150px',
                    }
                }) }}
				</div>

				<div class="relative my-8 p-5">
					{{ form_row(form.posterFile) }}
				</div>
				<div class="relative my-8 p-5">
					{{ form_label(form.road, "Road : ", {
            label_attr: {
                class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none mt-4"
            }
        }) }}
					{{ form_widget(form.road, {
                attr: {
                    class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none",
                    placeholder: "fakebook road ",
                    }
                }) }}
				</div>

				<div class="relative my-8 p-5">
					{{ form_label(form.zip, "Number : ", {
            label_attr: {
                class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none mt-4"
            }
        }) }}
					{{ form_widget(form.zip, {
                attr: {
                    class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none",
                    placeholder: "781",
                    }
                }) }}
				</div>

				<div class="relative my-8 p-5">
					{{ form_label(form.town, "Town : ", {
            label_attr: {
                class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none mt-4"
            }
        }) }}
					{{ form_widget(form.town, {
                attr: {
                    class: "w-full h-4 sm:h-9 border-b-2 border-gray-300 focus:border-blue-300 outline-none",
                    placeholder: "Town",
                    }
                }) }}
				</div>
				<div class="flex flex-col justify-center items-center mt-2 sm:mt-5">
					<button type="submit" class=" bg-primary-light hover:bg-primary-dark text-gray-100 rounded-mdh-8 sm:h-auto sm:rounded-lg w-20 sm:w-52 p-1 text-xs sm:text-md sm:p-3 ">
						{{ button_label|default('Sauvegarder') }}
					</button>
					<button type="button" onclick="history.back()" class="mt-5 bg-quatuor-light hover:bg-quatuor-dark text-gray-100 rounded-mdh-8 sm:h-auto sm:rounded-lg w-20 sm:w-52 p-1 text-xs sm:text-md sm:p-3 ">
                    Back
                    </button>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}


	{% endblock %}
