{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ activity.name }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="py-16 px-4 md:px-6 2xl:px-0 flex justify-center items-center 2xl:mx-auto 2xl:container">
		<div class="flex flex-col justify-start items-start w-full space-y-9">
			<div class="flex justify-start flex-col items-start space-y-2">
				<button class="flex flex-row items-center text-primary-dark hover:text-quatuor space-x-1">
					<svg class="fill-stroke" width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.91681 7H11.0835" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M2.91681 7L5.25014 9.33333" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M2.91681 7.00002L5.25014 4.66669" stroke="currentColor" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<a href="{{ path('activity_index') }}">
						<p class="text-lg leading-none">Back</p>
					</a>
				</button>
				<h1 class="text-3xl  font-semibold leading-7 lg:leading-9 text-primary-dark">Activity</h1>
			</div>
			<div class="flex flex-wrap justify-center space-y-6 w-full">
				<div class="flex flex-col justify-center items-center bg-white py-7 px-10 w-full rounded-lg">
					<div class="flex flex-col justify-start items-start w-full space-y-4">
						<p class="text-xl md:text-2xl leading-normal text-quatuor-dark ">{{ activity.name }}</p>
						<p class="text-base font-semibold leading-none text-black ">{{ activity.description }}</p>
					</div>
					<div class="mt-6 w-auto">
						<img src="{{ vich_uploader_asset(activity) }}" alt="{{ activity.name }}"/>
					</div>
					<div class="w-8/12">
						<p class="mt-8 text-base leading-4 text-primary-dark ">Details</p>
						<div class="mt-2 flex-col">
							<div>
								<p class="border rounded-tl rounded-td border-gray-300 p-4 w-full text-base leading-4 text-primary-light">{{ activity.road }}</p>
							</div>
							<div class="flex-row flex">
								<p class="border rounded-bl border-gray-300 p-4 w-full text-base leading-4 text-primary-light">{{ activity.zip }}</p>
								<p class="border rounded-br border-gray-300 p-4 w-full text-base leading-4  text-primary-light">{{ activity.town }}</p>
							</div>
						</div>
					</div>
				</div>
				{% for coach in coaches %}
					<div class="flex flex-col rounded ml-4 overflow-hidden shadow-md bg-white h-72 w-56">
						<div class="flex justify-center mt-4">
							<div class="h-14 w-14">
								<img src="https://cdn.tuk.dev/assets/photo-1564061170517-d3907caa96ea.jfif" alt="Display Picture of Andres Berlin" role="img" class="rounded-full object-cover h-full w-full shadow-md"/>
							</div>
						</div>
						<div class="px-6 mt-5">
							<h1 class="font-bold text-primary-dark text-3xl text-center mb-1">{{ coach.firstName }}</h1>
							<p class="text-primary-dark text-sm text-center">{{ coach.lastName }}</p>
							<p class="text-center text-primary-light text-base pt-3 font-normal">{{ coach.description }}</p>
							<p class="text-center text-primary-light text-base pt-3 font-normal relative bottom-0">Call me at :
								{{ coach.telephone }}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<pre>
	{{ dump(events) }}
</pre>

	<div class="p-8 bg-gray-100 flex flex-col mx-auto w-8/12 rounded-lg">
		<div class="flex flex-row justify-center items-center mt-6">
			<div class="flow-root">
				<ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
					{% for event in events %}
						<li class="py-3 sm:py-4">
							<div class="flex items-center space-x-4">
								<div class="flex-1 min-w-0">
									<p class="text-sm font-medium text-gray-900 truncate dark:text-white">
										{{ event.title }}
									</p>
									<p class="text-sm text-gray-500 truncate dark:text-gray-400">
										{{ event.description }}
									</p>
									<p class="text-sm text-gray-500 truncate dark:text-gray-400">
										{{ event.start|date("F jS \\a\\t g:ia") }}
									</p>
									<p class="text-sm text-gray-500 truncate dark:text-gray-400">
										{{ event.end|date("F jS \\a\\t g:ia") }}
									</p>
									<a href="{{ path('get_app', {'id': event.id}) }}">
										<i class="bi {{ app.user.isInAppointment(appointment) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

			<div class="flex flex-col mx-auto w-5/12">
				{% if activity.owner.id == user.id %}
					<button class="bg-quatuor-light text-white rounded-md px-4 py-2 hover:bg-quatuor-dark transition mt-5" onclick="openModal('modal')">Add a new event</button>
					<a href="{{ path('activity_edit', {'id': activity.id}) }}">
						<button class="bg-quatuor-light text-white rounded-md px-4 py-2 hover:bg-quatuor-dark mt-5 w-full">
							<p class="text-base leading-4">
								Edit
							</p>
						</button>
					</a>
					<form method="post" action="{{ path('activity_delete', {'id': activity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this activity?');">
						<button class="bg-quatuor-light text-white rounded-md px-4 py-2 hover:bg-red-700 mt-5 w-full">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">Delete
						</button>
					</form>
				{% endif %}
			</div>
		</div>

		<div id="modal" class="fixed hidden z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4">
			<div
				class="relative top-40 mx-auto shadow-lg rounded-md bg-white max-w-md">
				<!-- Modal header -->
				<div class="flex justify-between items-center bg-ternary-light text-white text-xl rounded-t-md px-4 py-2">
					<h3>New Event</h3>
					<button onclick="closeModal()">x</button>
				</div>
				<!-- Modal body -->
				<div class="max-h-screen overflow-y-scroll p-4">
					{% include "slot/_form.html.twig" %}
				</div>
				<!-- Modal footer -->
				<div class="px-4 py-2 border-t border-t-gray-500 flex justify-end items-center space-x-4">
					<button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition " onclick="closeModal()">Close</button>
				</div>
			</div>
		{% endblock %}

		{% block javascripts %}
			<script>

				const data = new FormData(document.getElementById('activityForm'));


const title = document.getElementById('title').value;
const description = document.getElementById('description').value;
const start = document.getElementById('start').value;
const end = document.getElementById('end').value;
const bgColor = document.getElementById('bgColor').value;
const textColor = document.getElementById('textColor').value;
const borderColor = document.getElementById('borderColor').value;

document.getElementById('add').addEventListener('click', function () {
const text = "Press a button!\nEither OK or Cancel.";
if (confirm(text) == true) {
console.log("Created FormData, " + [... data.keys()].length + " keys in data");

console.log("Hello World!");

event.preventDefault();
}
});

{
# encodeURIComponent({
title: title
}, {
description: description
}, {
start: start
}, {
end: end
}, {
backgroundColor: bgColor
}, {
textColor: textColor
}, {
borderColor: borderColor
}, {activityId: activityId})#
}


function openModal(modalId) {
modal = document.getElementById(modalId)
modal.classList.remove('hidden')
}

function closeModal() {
modal = document.getElementById('modal')
modal.classList.add('hidden')
}
			</script>
		{% endblock %}
